.cardBody{
    height: 400px;
    width: 250px;
    border: gainsboro 1px solid;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boardTitle{
    font-weight: bold ;
    text-align: center;
}
